# <h1><center>Demo 3</center></h1>

## GeoDataFrame & GeoSeries

In [1]:
# Import Geopandas and Pandas
import geopandas as gpd
import pandas as pd

In [2]:
# 1. Read Countries
shp = 'data/countries.shp'
countries = gpd.read_file(shp)
countries.head()

,NAME,POP_EST,GDP_MD_EST,POP_YEAR,LASTCENSUS,GDP_YEAR,ECONOMY,INCOME_GRP,CONTINENT,REGION_UN,SUBREGION,geometry
0,Indonesia,260580739,3028000.0,2017,2010,2016,4. Emerging region: MIKT,4. Lower middle income,Asia,Asia,South-Eastern Asia,"MULTIPOLYGON (((117.70361 4.16341, 117.70361 4..."
1,Malaysia,31381992,863000.0,2017,2010,2016,6. Developing region,3. Upper middle income,Asia,Asia,South-Eastern Asia,"MULTIPOLYGON (((117.70361 4.16341, 117.69711 4..."
2,Chile,17789267,436100.0,2017,2002,2016,5. Emerging region: G20,3. Upper middle income,South America,Americas,South America,"MULTIPOLYGON (((-69.51009 -17.50659, -69.50611..."
3,Bolivia,11138234,78350.0,2017,2001,2016,5. Emerging region: G20,4. Lower middle income,South America,Americas,South America,"POLYGON ((-69.51009 -17.50659, -69.51009 -17.5..."
4,Peru,31036656,410400.0,2017,2007,2016,5. Emerging region: G20,3. Upper middle income,South America,Americas,South America,"MULTIPOLYGON (((-69.51009 -17.50659, -69.63832..."

## DataFrame vs. GeoDataFrame

Let's try out a DataFrame

In [4]:
df = countries[["NAME", "POP_EST"]]
df.head()

        NAME    POP_EST
0  Indonesia  260580739
1   Malaysia   31381992
2      Chile   17789267
3    Bolivia   11138234
4       Peru   31036656

In [5]:
# What's the type of the DataFrame?
type(df)

pandas.core.frame.DataFrame

Let's try out a GeoDataFrame

In [6]:
geo_df = countries[["NAME", "geometry"]]
geo_df.head()

        NAME                                           geometry
0  Indonesia  MULTIPOLYGON (((117.70361 4.16341, 117.70361 4...
1   Malaysia  MULTIPOLYGON (((117.70361 4.16341, 117.69711 4...
2      Chile  MULTIPOLYGON (((-69.51009 -17.50659, -69.50611...
3    Bolivia  POLYGON ((-69.51009 -17.50659, -69.51009 -17.5...
4       Peru  MULTIPOLYGON (((-69.51009 -17.50659, -69.63832...

In [7]:
# What's the type of the GeoDataFrame?
type(geo_df)

geopandas.geodataframe.GeoDataFrame

## Series vs. GeoSeries

In [9]:
# Series
series = countries["NAME"]
series[:5]

0    Indonesia
1     Malaysia
2        Chile
3      Bolivia
4         Peru
Name: NAME, dtype: object

In [10]:
type(series)

pandas.core.series.Series

In [11]:
# GeoSeries
geo_series = countries["geometry"]

In [13]:
type(geo_series)

geopandas.geoseries.GeoSeries

### That's all